[Unit]
Description=JuliaServer service

[Service]
ExecStart=/home/debian/julia/bin/julia -i -e 'include("/home/debian/juliapackages/LabConnections/src/BeagleBone/startup/startup.jl")' &

[Install]
WantedBy=multi-user.target
